

.area-login{
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.login{
  background-color: #90C38D;
  width: 355px;
  height: 270px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.login form{
  display: flex;
  flex-direction: column;
  width: 100%
}

.login input, button {
  padding-left: 10px;
  border-radius: 6px;
  outline: none;
  height: 45px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 10px
  
  }

  .login img{
  width: 65px;
  height:auto;
  justify-content: baseline;
}

.input::placeholder{
  color: #000000;
  font-size: 14px;
}



p{
color: #FFFFFF;
margin: 6px;
}



@media (max-width: 768px) {
    
  .login input, button {
    
    height: 35px;
    
    }

    p{
      font-size: 14px;
    }

}
