<nav id="navMobile">
  <button id="openNavBtn">
    <img src="../assets/menu.png"  alt="ícone para abertuda da barra lateral">
  </button>
  <img id="img-icon" src="../assets/icon.png"  alt="Imagem do ícone da aplicação">
</nav>

<nav id="navMain">
  <div id="sidebar_content">
    <button id="openNavBtn">
        <img src="../assets/icon.png" style="width: 50px; margin-bottom: 50px; margin-top: 50px;" id="logo_icon" alt="Logo">
    </button>

    <ul id="side_items">
        <li class="side-item">
            <a href="/codigo-fonte/home">
                <img style="width: 40px;" src="../assets/home.png"></i>
                <span class="item-description">
                    Home
                </span>
            </a>
        </li>

        <li class="side-item">
            <a href="/codigo-fonte/forum">
                <img style="width: 40px;" src="../assets/message-square-text.png"></i>
                <span class="item-description">
                    Fórum
                </span>
            </a>
        </li>

        <li class="side-item">
            <a href="/codigo-fonte/habitos">
                <img style="width: 40px;" src="../assets/notebook-text.png">
                <span class="item-description">
                    Checklist
                </span>
            </a>
        </li>
        
    </ul>

</div>

<div id="Conta">
    
    <button id="logout_btn">
        <img style="width: 40px;" src="../assets/log-out.png"></i>
        <span class="item-description">
            Logout
        </span>
    </button>
</div>
</nav>
<div id="shadow"></div>
<main>
  <div id="content">

  </div>
  <!-- Page content -->
</main>
<!-- Save this as footer.html -->
<footer>
  <div class="footer-content">
      <div class="footer-info">
          <h3>Sobre o Projeto</h3>
          <p>
              O projeto EcoVida é dedicado a sensibilizar sobre as práticas de preservação ambiental.
              Nossa missão é proporcionar informações e recursos para apoiar atitudes sustentáveis.
          </p>
      </div>
      <div class="footer-nav">
          <h3>Páginas</h3>
          <ul>
            <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Fóruns</a></li>
          </ul>
      </div>
      
  </div>
  <div class="footer-bottom">
      <p>&copy; 2024 EcoVida</p>
  </div>
</footer>
