@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  /* Tons de verde - variáveis */
  --green-50: #f4f9f4;
  --green-100: #eef6ee;
  --green-200: #ddecdc;
  --green-300: #90c38d;
  --green-400: #82b07f;
  --green-500: #739c71;
  --green-600: #6c926a;
  --green-700: #567555;
  --green-800: #41583f;
  --green-900: #324431;

  /* Tons de cinza - variáveis */
  --gray-50: #f1f1f1;
  --gray-100: #eaeaea;
  --gray-200: #d3d3d4;
  --gray-300: #727275;
  --gray-400: #676769;
  --gray-500: #5b5b5e;
  --gray-600: #565658;
  --gray-700: #444446;
  --gray-800: #333335;
  --gray-900: #282829;


}

body {
  position: relative;
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  min-height: 100vh;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
}

p,
li {
  font-size: 0.9rem;
  line-height: 1.8;
}

#navMobile {
  display: none;
  grid-area: navMobile;
  padding: 20px;
  background-color: var(--green-300);
  /* Example background color */

}

#openNavBtn{
  background-color: transparent;
  border: none;

}

#img-icon{
  width: 50px;
  height: 50px;
}

#navMain {
  grid-area: navMain;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 30;
  transition: width 0.5s;
  background-color: var(--green-300);
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
}

#shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 50%;
}

main {
  grid-area: content;
  margin-left: auto;
  width: calc(100% - 244px);
  display: flex;
  flex-direction: column;
  /* Example padding */
}

/* Save this as footer.css */
footer {
  font-family: "Comfortaa", sans-serif;
  background-color: var(--green-800);
  /* Dark green background */
  color: #ffffff;
  /* White text color */
  display: flex;
  width: calc(100% - 244px);
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  /* gap: 10px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-info,
.footer-nav{
  padding: 30px;

}

.footer-info h3 {
  margin-bottom: 20px;

}

.footer-info p {
  margin: 0;
  color: var(--gray-200);
}

.footer-nav {
  border-left: 1px solid white;
  padding-right: 60px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;

}

.footer-nav,
li,
h3 {
  margin-bottom: 25px;

}

.footer-nav ul li a {
  color: var(--gray-200);
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  text-align: center;

}

.footer-bottom p {
  border-top: 1px solid white;
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--gray-200);
}






@media (max-width: 768px) {

  h3 {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 0.7rem;
  }

  #navMobile {
    display: flex;
    justify-content:space-between;
  }

  #navMain {
    top: 0;
    left: 0;
    width: 0;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }

  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
      "navMobile"
      "content"
      "footer";
  }

  main,
  footer {
    width: 100%;
    margin-left: 0;
  }


}


#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #90C38D;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  transition: all .5s;
  min-width: 82px;
  z-index: 2;
}

#sidebar_content {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#user_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}

#user_infos {
  display: flex;
  flex-direction: column;
}

#user_infos span:last-child {
  color: #6b6b6b;
  font-size: 12px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.side-item.active {
  background-color: #324431;
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #e3e9f7;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #324431;
}

.side-item.active a {
  color: #324431;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

#logout {
  border-top: 1px solid #324431;
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  width: 100%;
  margin: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#open_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#open_btn_icon {
  transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}



#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}

#Conta{
display: flex;
justify-content: center;
width: 100%;
}